@use 'helpers/index' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

.d-n {
  display: none !important;
}

body {
  font-size: 14px;
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-font-main);
  background-color: var(--background-body);
  height: 100%;
  overflow: hidden;
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-title-main);
  font-family: var(--font-family-base);
  line-height: 1.2;
}

h1,
.h1 {
  @include fluid-text(24, 20);

  font-weight: 700;
}

h2,
.h2 {
  @include fluid-text(20, 16);

  font-weight: 700;
}

h3,
.h3 {
  @include fluid-text(16, 14);
  font-weight: 700;
}

h4,
.h4 {
  font-size: 14px;
  font-weight: 700;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
