@use '@styles/helpers' as *;

.form {
  max-width: 484px;
  width: 100%;
  background-color: var(--background-elements);
  border: var(--border-width-md) solid var(--color-border-main);
  border-radius: var(--border-radius-lg);
  padding: fluid(20, 15);
}
